:root
{
    /* Main */
    --vtimeline-bg-color: transparent;

    /* Branch */
    --vtimeline-branch-color: rgb(220, 220, 220);
    --vtimeline-circle-border-color: rgb(19, 196, 165);
    --vtimeline-circle-bg: rgb(220, 220, 220);

    /* Baloon */
    --vtimeline-baloon-bg-color: rgb(241, 241, 241);
    --vtimeline-baloon-border-color: rgb(241, 241, 241);
}

div.vtimeline
{
    font-family: Verdana;
    width: 80%;
}

div.vtimeline ul
{
    position: relative;
    display: block;
    list-style-type: none;
    border-left: 5px solid var(--vtimeline-branch-color);
    margin-left: 20px;
    padding: 20px 40px;
}

div.vtimeline li
{
    position: relative;
    background: var(--vtimeline-baloon-bg-color);
    border: 4px solid var(--vtimeline-baloon-border-color);
    padding: 10px;
    margin: 40px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #888888;
}

/* Dot */
div.vtimeline li h1:before
{
    content: "";
    width: 20px;
    height: 20px;
    border: 4px solid var(--vtimeline-circle-border-color);
    background: var(--vtimeline-circle-bg);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -13px;
    margin-left: -80px;
}

/* Arrow */
div.vtimeline li:before
{
    content: "";
    position: absolute;
    top: 50%;
    left: -7px;
    height: 20px;
    width: 20px;
    background: var(--vtimeline-baloon-bg-color);
    box-sizing: border-box;
    transform: rotate(45deg) translate(-50%);
    border-top: inherit;
    border-left: inherit;
    box-shadow: -2px 2px 2px 0px #BBBBBB;
}

div.vtimeline li h1
{
    margin: 0px;
    font-size: 150%;
}

div.vtimeline li h2
{
    margin: 0px 15px;
    font-size: 110%;
}

div.vtimeline p
{
    margin: 0px;
    padding: 10px;
    text-align: justify;
    line-height: 115%;
}
